#!/bin/bash

mongo <<EOF
use admin
db.auth("siteRootAdmin", "password");
{% for item in groups['db'] %}
  {% if loop.index != 1 %}
rs.add("{{ item }}.example.com")
  {% endif %}
{% endfor %}
quit()
EOF
