version: '2'

services:
  mongo:
    image: mongo:2.6.5
    container_name: mongo
    hostname: {{ inventory_hostname }}.example.com
    ports:
      - "27017:27017"
    volumes:
      - /home/core/mongo-files/data:/data/db
      - /home/core:/opt/keyfile
    extra_hosts:
{% for item in groups['db'] %}
      - {{item}}.example.com:{{hostvars[item]['ansible_host']}}
{% endfor %}
    command: bash -c "mongod --fork --logpath ~/mongodb.log --smallfiles --keyFile /opt/keyfile/mongodb-keyfile --replSet 'rs0' && tail -f /dev/null"
    restart: always
