version: '2'

services:
  mongo:
    image: mongo:2.6.5
    container_name: mongo
    hostname: {{ inventory_hostname }}.example.com
    ports:
      - "27017:27017"
    volumes:
      - /home/core/mongo-files/data:/data/db
      - /home/core:/opt/keyfile
    command: --smallfiles
